@import '../resets';

.intro-section {
	position: relative;
	min-height: 500px;
	margin-bottom: 10em;

	@media screen and (min-width: 62em) {
		margin-bottom: 15em;
	}

	.img-wrap {
		position: absolute;
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.container {
		width: 85%;
		margin: 0 auto;
		position: relative;

		.text-wrap {
			position: absolute;
			left: 10.6%;
			padding-top: 2em;

			.heading {
				font-size: 2.5rem;
				color: $dark;
				margin-bottom: 0.5em;

				@media screen and (min-width: 62em) {
					font-size: 3.3rem;
				}
			}

			.subtext {
				color: $grey;
				line-height: 1.7;
				font-size: 1.4rem;
				margin-bottom: 1em;

				@media screen and (min-width: 62em) {
					font-size: 40px;
					max-width: 800px;
					margin-left: 2em;
				}
			}

			.btn {
				@include btn-mixin();

				@media screen and (min-width: 62em) {
					margin-left: 5em;
				}
			}
		}
	}

	.sec-img-wrap {
		position: absolute;
		bottom: -25%;

		right: 5%;

		.positioned-img {
			width: 300px;
			border-right: solid 5px $red;
			border-bottom: solid 5px $red;
			border-bottom-right-radius: 40px;
		}

		@media screen and (min-width: 43em) {
			bottom: -10%;
			right: 10%;
		}

		@media screen and (min-width: 62em) {
			bottom: -15%;
			right: 20%;
			// background: red;

			.positioned-img {
				width: 300px;
				border-right: solid 5px $red;
				border-bottom: solid 5px $red;
				border-bottom-right-radius: 40px;
			}
		}
	}
}
