@import '../resets';

.product-section {
	margin-bottom: 7em;

	.container {
		width: 90%;
		margin: 0 auto;

		.text-area {
			text-align: center;
			max-width: 500px;
			margin: 0 auto 4em auto;

			.heading {
				@include heading-mixin();
				margin-bottom: 0.5em;
			}
		}

		// product-wrap
		.wrap {
			.prod-layout1 {
				display: grid;
				gap: 1.5em;

				.prod-card {
					height: 400px;
					width: 100%;
					// background: $blue;
					border-radius: 15px;
					position: relative;
					color: $light;

					.img-wrap {
						position: absolute;
						height: 100%;
						width: 100%;
						z-index: 0;

						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}

					.text-wrap {
						position: absolute;
						bottom: 5%;
						left: 7%;

						.product-title {
						}

						.prod-desc {
						}
					}
				}

				@media screen and (min-width: 43em) {
				}

				@media screen and (min-width: 62em) {
					display: flex;
					flex-wrap: wrap;

					gap: 1.3em;
					width: 90%;
					margin: 0 auto;

					.prod-card {
						flex-basis: 300px;
						flex-grow: 1;
						height: 300px;
						transition: all 0.5s ease-in-out;
						cursor: pointer;
						overflow: hidden;

						&:hover {
							flex-basis: 450px;
						}

						&::before {
							content: '';
							position: absolute;
							height: 100%;
							width: 100%;

							transform: scale(1, 0);
							transition: all 0.5s ease;
							border-radius: 15px;
							transform-origin: top;
							z-index: 1;
						}

						&:hover::before {
							content: '';
							position: absolute;
							height: 100%;
							width: 100%;
							background: rgba($color: #000000, $alpha: 0.6);
							transform: scale(1, 1);
						}

						&::after {
							content: 'get Quote';
							position: absolute;
							top: 50%;
							left: 50%;
							color: $light;
							transform: translate(-50%, -50%);
							background: red;
							opacity: 0;
							transition: all 0.5s ease;
							padding: 1em;
							z-index: 1;
							border-radius: 15px;
							text-transform: capitalize;
						}

						&:hover::after {
							opacity: 1;
						}

						.text-wrap {
							transition: all 0.5s ease-in-out;
							max-width: 370px;
							z-index: 1;
							bottom: -10%;

							.prod-desc {
								transition: all 0.5s ease-in-out;
							}
						}

						&:hover > .text-wrap {
							transform: translateY(-60%);
							transition: all 0.5s ease-in-out;
						}

						.prod-desc {
							opacity: 0;
							transition: all 0.5s ease-in-out;
						}

						&:hover .prod-desc {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
