@import '../resets';

.address-section {
	margin-bottom: 7em;

	.text-wrap {
		text-align: center;
		margin-bottom: 3em;

		.heading {
			@include heading-mixin();
		}
	}

	.container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 1em;

		.address-card {
			height: 250px;
			width: 100%;
			background: $light;
			position: relative;
			@include shadow();
			display: flex;
			align-items: center;
			justify-content: center;

			&::after {
				content: '';
				position: absolute;
				height: 4px;
				width: 100%;
				background: $red;
				top: 100%;
			}

			.wrap {
				width: 80%;

				.icon {
					margin-bottom: 0.5em;

					i {
						font-size: 1.5rem;
						color: $grey;
					}
				}

				.heading {
					font-size: 1.2rem;
					margin-bottom: 0.5em;
					color: $grey;
				}

				.text {
					color: $blue;
					text-decoration: underline;
					text-underline-offset: 5px;
				}
			}
		}

		@media screen and (min-width: 43em) {
			width: 70%;
			display: flex;
		}

		@media screen and (min-width: 62em) {
			width: 50%;
			display: flex;
			gap: 1.4em;
		}
	}
}
