<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dohva TransAfrican</title>
	</head>
	<body class="dom-body">
		<header class="header-nav"></header>

		<main class="hero-section">
			<div class="container">
				<div class="hero-img-wrap">
					<img src="../assets/cashew-nuts-img.png" alt="" />
				</div>
				<div class="text-wrap">
					<h1 class="heading">
						Delivering Excellence and Sustainability in every Product we Export
					</h1>

					<div class="wrap">
						<p class="subtext">
							With a commitment to quality and sustainability, we strive to meet
							the demands of our international customers.
						</p>

						<button class="btn">Learn more</button>
					</div>
				</div>
			</div>
		</main>

		<section class="intro-section">
			<div class="img-wrap">
				<img src="../assets/line-grid.svg" alt="line grid" />
			</div>

			<div class="container">
				<div class="text-wrap">
					<h1 class="heading">Welcome to Dohva Transafrican</h1>
					<p class="subtext">
						We specialize in exporting high quality agricultural products and
						bio-energy solutions
					</p>

					<button class="btn">See products</button>
				</div>
			</div>

			<div class="sec-img-wrap">
				<img src="../assets/export-img1.png" alt="" class="positioned-img" />
			</div>
		</section>

		<section class="export-service-layout">
			<div class="container">
				<div class="section-title-wrap">
					<h3 class="text">
						We are elevating export services for agro-produce and growing the
						economy
					</h3>
				</div>

				<div class="wrap">
					<div class="img-wrap">
						<img src="../assets/export-img.png" alt="forklift in a wayhouse" />
					</div>

					<div class="text-wrap">
						<p class="text">
							We are committed to providing export services that ensures that
							cash crops can be exported to where they are needed, anywhere in
							the world
						</p>

						<button class="btn">See products</button>
					</div>
				</div>
			</div>
		</section>

		<!-- <section class="product-section">
			<div class="container">
				<div class="text-area">
					<h3 class="heading">Products we export</h3>
					<p class="subtext">
						Lorem ipsum dolor sit amet consectetur. Non eget orci sapien at
						pellentesque diam et. Lacus quam nunc dictumst arcu tellus fames.
						Augue sollicitudin risus neque duis faucibus egestas cursus nulla.
					</p>
				</div>

				<div class="wrap">
					<div class="prod-layout1">
						<div class="prod-card"></div>
						<div class="prod-card"></div>
						<div class="prod-card"></div>
					</div>

					<div class="prod-layout2">
						<div class="prod-card"></div>
						<div class="prod-card"></div>
						<div class="prod-card"></div>
					</div>
				</div>
			</div>
		</section> -->

		<div class="location-area">
			<div class="container">
				<h3 class="heading">Exporting products to wherever they are needed</h3>

				<div class="img-wrap">
					<img src="../assets/dohva-map.jpg" alt="map of the world" />
				</div>
			</div>
		</div>

		<footer class="footer"></footer>
	</body>
</html>
