@import '../scss/resets';

.footer {
	margin-top: -7em;
	position: relative;
	z-index: 1;

	.faq-section {
		padding: 7em 0;
		position: relative;
		overflow: hidden;

		.img-wrap {
			position: absolute;
			top: 20%;

			img {
				display: none;

				@media screen and (min-width: 43em) {
					display: block;
					width: 250px;
				}

				@media screen and (min-width: 62em) {
					width: 400px;
					display: block;
				}
			}
		}

		.pos-img1 {
			left: -5%;
			img {
				width: 500px;
			}
		}

		.pos-img2 {
			right: -5%;
			top: 15%;
		}

		.container {
			position: relative;
			z-index: 1;

			.text-wrap {
				text-align: center;

				width: 90%;
				margin: 0 auto 4em auto;

				.heading {
					@include heading-mixin();
					max-width: 600px;
					margin: 0 auto;
					margin-bottom: 0.5em;
				}
			}

			.accordion {
				width: 90%;
				margin: 0 auto;

				.container {
					display: grid;
					gap: 1.6em;

					.accordion-item {
						display: grid;
						gap: 1.8em;

						.question-wrap {
							display: flex;
							justify-content: space-between;

							.text {
								color: $blue;
							}
						}

						.content {
							background: rgba($color: #000, $alpha: 0.12);
							padding: 1.7em;
							border-radius: 10px;

							.text {
								font-size: 15px;
							}
						}
					}
				}

				@media screen and (min-width: 43em) {
					width: 60%;
				}

				@media screen and (min-width: 62em) {
					width: 45%;
				}
			}
		}

		&::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 85%;
			left: 7.5%;
			bottom: 0;
			background: $grey;
		}
	}

	.footer-container {
		padding-top: 0.5em;
		.container {
			width: 90%;
			margin: 0 auto;

			.logo-wrap {
				img {
					width: 250px;
				}
			}

			@media screen and (min-width: 62em) {
				width: 85%;
			}
		}
	}
}
