@import '../scss/resets';

.header-nav {
	position: fixed;
	width: 85%;
	top: 2%;
	left: 7.5%;
	z-index: 2;
	background: $light;
	height: 15vh;
	display: flex;
	align-items: center;
	border-radius: 60px;
	-webkit-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.13);
	box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.13);

	.container {
		@media screen and (min-width: 62em) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 85%;
			margin: 0 auto;

			.nav-wrap {
				display: flex;
				gap: 3em;
			}
		}
	}
}
