@import '../scss/resets';

.newsletter-layout {
	background: $dark;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	padding-top: 6em;
	padding-bottom: 6em;
	margin-bottom: 6em;

	.img-wrap {
		position: absolute;

		img {
			width: 100%;
			height: 1000px;

			@media screen and (min-width: 62em) {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.wrap {
		position: relative;
		z-index: 1;
		// background: red;

		.text-wrap {
			color: $light;
			text-align: center;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 2.5em;

			.heading {
				font-size: 2rem;

				margin-bottom: 0.8em;
			}
		}

		.form-wrap {
			// background: teal;

			.newsletter-form {
				.wrap {
					display: grid;
					gap: 1em;
					margin-bottom: 1.5em;

					input {
						display: block;
						width: 90%;
						margin: 0 auto;
						background: #d9d9d9;
						border: none;
						padding: 14px;
						outline: none;
						border-radius: 10px;
						@include poppins-regular();
					}

					@media screen and (min-width: 62em) {
						display: flex;
					}
				}

				.btn-wrap {
					width: 90%;
					margin: 0 auto;

					.submit-btn {
						@include btn-mixin();
						width: 100%;
					}

					@media screen and (min-width: 62em) {
						width: 100%;
					}
				}
			}
		}
	}
}
