@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// color variables
$blue: #0000fe;
$red: #ff0000;
$dark: #1e1926;
$light: #ffffff;
$grey: #99a1a6;

@mixin poppins-regular() {
	font-family: 'Poppins', serif;
	font-weight: 400;
	font-style: normal;
}

@mixin poppins-medium() {
	font-family: 'Poppins', serif;
	font-weight: 500;
	font-style: normal;
}

@mixin poppins-semibold() {
	font-family: 'Poppins', serif;
	font-weight: 600;
	font-style: normal;
}

@mixin poppins-bold() {
	font-family: 'Poppins', serif;
	font-weight: 700;
	font-style: normal;
}

@mixin poppins-black() {
	font-family: 'Poppins', serif;
	font-weight: 900;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
	@include poppins-regular();
}

// body {
// 	// height: 100vh;
// 	// background: whitesmoke;'
// 	// overflow: hidden;
// }

a {
	text-decoration: none;
}

li {
	list-style: none;
}

@mixin btn-mixin() {
	background: $blue;
	padding: 1em 1.3em;
	@include poppins-medium();
	border: none;
	color: $light;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1rem;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		transition: all 0.4s ease-in;
		transform: scale(0, 1);
		// transform-origin: left;
	}

	&:hover::after {
		background: rgba(0, 0, 254, 0.801);
		height: 4px;
		width: 100%;
		bottom: 0;
		left: 0;
		background: $red;
		transform: scale(1, 1);
	}
}

@mixin heading-mixin() {
	color: $dark;
	font-size: 2rem;
	@include poppins-black();
	text-transform: capitalize;
}

@mixin shadow() {
	-webkit-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.13);
	box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.13);
}

@mixin modal-close-btn() {
	background: $red;
	border: none;
	padding: 0.8em 1em;
	color: $light;
	position: fixed;
	right: 10%;
	top: 10%;
	cursor: pointer;
	border-radius: 8px;

	i {
		font-size: 1.1rem;
	}

	@media screen and (min-width: 43em) {
		right: 20%;
	}

	@media screen and (min-width: 62em) {
		right: 28%;
	}
}

.fixed-whatsapp {
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 2;

	.whatsapp-btn {
		background: $light;
		border: none;
		@include shadow();
		border-radius: 20px;

		a {
			height: 5em;
			width: 5em;
			display: inline-block;
			display: flex;
			align-items: center;
			justify-content: center;
			// border-radius: 100%;

			img {
				width: 50px;
			}
		}
	}
}
