@import '../resets';

.about-main {
	height: 85vh;
	margin-bottom: 10em;
	background: $dark;
	position: relative;

	// margin for desktop
	@media screen and (min-width: 62em) {
		margin-bottom: 20em;
	}

	.img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.container {
		width: 90%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		color: $light;
		text-align: center;

		.heading {
			margin-bottom: 1em;
			font-size: 3rem;
			@include poppins-black();
			max-width: 1000px;
			// white-space: nowrap;
			margin: 0 auto;
			margin-bottom: 0.5em;
			text-transform: capitalize;
		}

		.subtext {
			line-height: 1.7;
		}

		@media screen and (min-width: 62em) {
			max-width: 700px;

			.heading {
				white-space: nowrap;
			}
		}
	}

	.img-wrap2 {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translateX(-50%);

		img {
			width: 350px;
		}

		@media screen and (min-width: 62em) {
			top: 73%;

			img {
				width: 400px;
			}
		}
	}
}
